@keyframes slideInright{
    from{
        transform: translateX(-400px);
    }
    to{
        transform: translateX(0);
    }
}
.home{
    animation-name: inherit;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: reverse;
    animation-fill-mode: 4s;
    animation-timing-function: easy-in;
    animation
    

}